@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Rubik&family=Nunito&family=Baloo&display=swap');

body{
    background-color: rgb(132, 79, 182);
    font-family: 'Quicksand',sans-serif;
}

.taskmanager{
    padding: 50px;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    width: 33%;
    height: fit-content;
    position: absolute;
    left: 30%;
    top: 20%;
}

input{
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 450px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    font-size: 10px;
}

input::placeholder{
    font-family: 'Quicksand', sans-serif;
    color: rgb(177, 177, 177);
    position: absolute;
    left: 10px;
    top: 8px;
    font-weight: 500;
    font-size: 15px;
}

.add{
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 15%;
    left: 75%;
    height: 32px;
    width: 100px;
    background-color: rgb(255, 145, 0);
    color: rgba(240, 248, 255, 0.767);
    font-weight: 600;
    font-size: medium;
}

.remove-button{
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: rgba(126, 126, 126, 0.664);
    font-weight: 700;
    font-size: 13px;
}

.remove-button{
    position: absolute;
    left: 80%;
}

.checkbox-button{
    position: absolute;
    top: 50%;
    left:  12%;
}
